html, body {
  background-color: #f5f5f5;
  color: #191919;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: content-box;
}

h1 { 
  font-size: 24px;
}

.App {
  font-family: sans-serif;
  font-size: 20px;
  text-align: left;

}
form {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
padding: 20px;
margin: 0;
}

p:nth-child(even) {
  background-color: #ececec;
  
}

.pattern {
  padding: 0 20px;
  overflow: auto;
  border-top: 1px solid #bbb;
  
}

label {
  display: block;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
input, select, option {
  
  padding: 5px;
  font-size: 20px;
}

input {
  width: 100px;
}

button {
  padding: 0 20px;
  font-size: 20px;
}

